@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eb4d4b;
}
.wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 34px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #eb4d4b;
}
.wrapper form{
    margin: 25px;
}
.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3 ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #eb4d4b;
}
.input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #eb4d4b;
    cursor: pointer;
}
.input-box.button input:hover{
    background: #d63031;
}
form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color: #eb4d4b;
    text-decoration: none;
}
form.text h3 a:hover{
    text-decoration: underline;
}